/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
GENERAL SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens
----------------------------------------
*/

/*
----------------------------------------
Image Path
----------------------------------------
Relative image file path
----------------------------------------
*/

/*
----------------------------------------
Show compile warnings
----------------------------------------
Show Sass warnings when functions and
mixins use non-standard tokens.
----------------------------------------
*/

/*
----------------------------------------
Namespace
----------------------------------------
*/

/*
----------------------------------------
Layout grid
----------------------------------------
Should the layout grid classes output
with !important
----------------------------------------
*/

/*
----------------------------------------
Border box sizing
----------------------------------------
When set to true, sets the box-sizing
property of all site elements to
`border-box`.
----------------------------------------
*/

/*
----------------------------------------
Focus styles
----------------------------------------
*/

/*
----------------------------------------
Icons
----------------------------------------
*/

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
TYPOGRAPHY SETTINGS
----------------------------------------
Read more about settings and
USWDS typography tokens in the documentation:
https://designsystem.digital.gov/design-tokens/typesetting/font-family/
----------------------------------------
*/

/*
----------------------------------------
Root font size
----------------------------------------
Setting $theme-respect-user-font-size to
true sets the root font size to 100% and
uses ems for media queries
----------------------------------------
$theme-root-font-size only applies when
$theme-respect-user-font-size is set to
false.

This will set the root font size
as a specific px value and use px values
for media queries.

Accepts true or false
----------------------------------------
*/

/*
----------------------------------------
Global styles
----------------------------------------
Adds basic styling for the following
unclassed elements:

- paragraph: paragraph text
- link: links
- content: paragraph text, links,
  headings, lists, and tables
----------------------------------------
*/

/*
----------------------------------------
Font path
----------------------------------------
Relative font file path
----------------------------------------
*/

/*
----------------------------------------
Custom typeface tokens
----------------------------------------
Add a new custom typeface token if
your project uses a typeface not already
defined by USWDS.
----------------------------------------
USWDS defines the following tokens
by default:
----------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
Add as many new tokens as you have
custom typefaces. Reference your new
token(s) in the type-based font settings
using the quoted name of the token.

For example:

$theme-font-type-cond: 'example-font-token';

display-name:
The display name of your font

cap-height:
The height of a 500px `N` in Sketch
----------------------------------------
You should change `example-[style]-token`
names to something more descriptive.
----------------------------------------
*/

/*
----------------------------------------
Type-based font settings
----------------------------------------
Set the type-based tokens for your
project from the following tokens,
or from any new font tokens you added in
$theme-typeface-tokens.
----------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

/*
----------------------------------------
Custom font stacks
----------------------------------------
Add custom font stacks to any of the
type-based fonts. Any USWDS typeface
token already has a default stack.

Custom stacks don't need to include the
font's display name. It will
automatically appear at the start of
the stack.
----------------------------------------
Example:
$theme-font-type-sans: 'source-sans-pro';
$theme-font-sans-custom-stack: "Helvetica Neue", Helvetica, Arial, sans;

Output:
font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans;
----------------------------------------
*/

/*
----------------------------------------
Add any custom font source files
----------------------------------------
If you want USWDS to generate additional
@font-face declarations, add your font
data below, following the example that
follows.
----------------------------------------
USWDS automatically generates @font-face
decalarations for the following

'merriweather'
'public-sans'
'roboto-mono'
'source-sans-pro'

These typefaces not require custom
source files.
----------------------------------------
EXAMPLE

- dir:
  Directory relative to $theme-font-path
- This directory should include fonts saved as
  .ttf, .woff, and .woff2
  ExampleSerif-Normal.ttf
  ExampleSerif-Normal.woff
  ExampleSerif-Normal.woff2

$theme-font-serif-custom-src: (
  dir: 'custom/example-serif',
  roman: (
    100: false,
    200: false,
    300: 'ExampleSerif-Light',
    400: 'ExampleSerif-Normal',
    500: false,
    600: false,
    700: 'ExampleSerif-Bold',
    800: false,
    900: false,
  ),
  italic: (
    100: false,
    200: false,
    300: 'ExampleSerif-LightItalic',
    400: 'ExampleSerif-Italic',
    500: false,
    600: false,
    700: 'ExampleSerif-BoldItalic',
    800: false,
    900: false,
  ),
);
----------------------------------------
*/

/*
----------------------------------------
Role-based font settings
----------------------------------------
Set the role-based tokens for your
project from the following font-type
tokens.
----------------------------------------
'cond'
'icon'
'lang'
'mono'
'sans'
'serif'
----------------------------------------
*/

/*
----------------------------------------
Type scale
----------------------------------------
Define your project's type scale using
values from the USWDS system type scale

1-20
----------------------------------------
*/

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/

/*
----------------------------------------
General typography settings
----------------------------------------
Type scale tokens
----------------------------------------
micro:      10px
1:          12px
2:          13px
3:          14px
4:          15px
5:          16px
6:          17px
7:          18px
8:          20px
9:          22px
10:         24px
11:         28px
12:         32px
13:         36px
14:         40px
15:         48px
16:         56px
17:         64px
18:         80px
19:         120px
20:         140px
----------------------------------------
Line height tokens
----------------------------------------
1:    1
2:    1.15
3:    1.35
4:    1.5
5:    1.62
6:    1.75
----------------------------------------
Font role tokens
----------------------------------------
'ui'
'heading'
'body'
'code'
'alt'
----------------------------------------
Measure (max-width) tokens
----------------------------------------
1:       44ex
2:       60ex
3:       64ex
4:       68ex
5:       74ex
6:       88ex
none:    none
----------------------------------------
*/

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
SPACING SETTINGS
----------------------------------------
Read more about settings and
USWDS spacing units tokens in the
documentation:
https://v2.designsystem.digital.gov/style-tokens/spacing-units
----------------------------------------
*/

/*
----------------------------------------
Border radius
----------------------------------------
2px           2px
0.5           4px
1             8px
1.5           12px
2             16px
2.5           20px
3             24px
4             32px
5             40px
6             48px
7             56px
8             64px
9             72px
----------------------------------------
*/

/*
----------------------------------------
Column gap
----------------------------------------
2px         2px
0.5         4px
1           8px
2           16px
3           24px
4           32px
5           40px
6           48px
----------------------------------------
*/

/*
----------------------------------------
Grid container max-width
----------------------------------------
mobile
mobile-lg
tablet
tablet-lg
desktop
desktop-lg
widescreen
----------------------------------------
*/

/*
----------------------------------------
Site
----------------------------------------
*/

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

/*
----------------------------------------
State palette colors
----------------------------------------
*/

/*
----------------------------------------
General colors
----------------------------------------
*/

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
UTILITIES SETTINGS
----------------------------------------
Read more about settings and
USWDS utilities in the documentation:
https://v2.designsystem.digital.gov/utilities
----------------------------------------
*/

/*
----------------------------------------
Utility breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

/*
----------------------------------------
Settings
----------------------------------------
*/

/*
----------------------------------------
Values
----------------------------------------
*/

/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.1.0
----------------------------------------
COMPONENT SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens
----------------------------------------
*/

.menu--featured-links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.menu--featured-links .menu-item--featured {
  -webkit-box-flex: 1;
          flex: 1 0 23%;
  margin: 1%;
  text-align: center;
  align-self: flex-end;
}

.menu--featured-links .menu-link-contentfeatured-links img {
  height: 50px;
  width: 50px;
}

.caption {
  margin-bottom: 1rem;
  min-width: 12rem;
}

.pager {
  margin: 2rem 0;
}

ul.pager__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li.pager__item {
  color: color("blue-50");
  display: inline-block;
  margin: 0 0.15rem;
  padding: 0;
  list-style: none;
}

li.pager__item a,
li.pager__item a:link,
li.pager__item a:visited {
  border-radius: 3px;
  color: color("blue-50");
  display: block;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  margin: 0;
  line-height: 1;
  text-decoration: none;
}

li.pager__item a:hover,
li.pager__item.is-active a {
  background: color("blue-50");
  color: #fff;
}

li.pager__item__ellipsis {
  padding: 0.75rem 1.5rem;
}

.nav-tabs__wrapper {
  background: #e6e6e6;
  padding-top: 80px;
  margin-bottom: 0;
}

.nav-tabs__wrapper,
.nav-tabs__wrapper * {
  font-size: 1rem;
  line-height: 3;
}

.nav-tabs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-tabs:before {
  border-bottom: 1px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.is-collapse-enabled .nav-tabs {
  max-height: 0;
  overflow: hidden;
  padding-top: calc((3 * 1rem) + 2px);
}

.is-collapse-enabled .nav-tabs:before {
  right: 60px;
}

.is-collapse-enabled .nav-tabs.is-open::before {
  display: none;
}

.nav-tabs.is-open {
  max-height: 999em;
}

.is-horizontal .nav-tabs {
  border-bottom: 0;
  max-height: none !important;
  overflow: visible;
  padding-top: 0 !important;
}

.nav-tabs .nav-tabs__item {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-collapse-enabled .nav-tabs__item.is-active {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 60px);
  z-index: 15;
}

.is-horizontal .nav-tabs__item {
  float: left;
  width: auto;
  height: auto;
  text-align: center;
}

.is-horizontal .nav-tabs__item.is-active,
.is-horizontal .nav-tabs.nav-tabs--primary .nav-tabs__item.is-active {
  position: relative;
  top: 0;
  width: auto;
}

.nav-tabs .nav-tabs__link {
  border: solid 1px transparent;
  display: block;
  position: relative;
  text-decoration: none;
}

.nav-tabs .nav-tabs__link.is-active {
  font-weight: 700;
}

.nav-tabs .nav-tabs__link.is-active:after {
  background-color: currentColor;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 16;
}

.nav-tabs .nav-tabs__link:active,
.nav-tabs .nav-tabs__link:hover {
  text-decoration: underline;
}

.nav-tabs .nav-tabs__link:focus {
  outline-offset: units(-0.5);
}

.tabs__trigger,
.is-horizontal .tabs__trigger {
  display: none;
}

/* JS dependent styling */

.is-collapse-enabled .tabs__trigger {
  background-color: color("blue-50");
  border: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: calc((3 * 1rem) + 2px);
  left: auto;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
  z-index: 10;
}

.is-collapse-enabled .tabs__trigger:focus {
  z-index: 20;
}

.is-collapse-enabled .nav-tabs--primary:before,
.is-horizontal .nav-tabs--primary:before {
  border-color: color("gray-4");
}

.nav-tabs--primary .nav-tabs__link {
  background-color: #fff;
  border-color: color("gray-4");
  color: color("blue-30");
  border-radius: 0;
  border-width: 1px 0 0 0;
  padding: 0 1.65rem;
  position: relative;
}

.nav-tabs--primary .nav-tabs__link.is-active {
  border-bottom: 0;
}

.nav-tabs--primary .nav-tabs__link.is-active:after {
  background-color: color("blue-50");
}

.nav-tabs--primary .nav-tabs__link.is-active:focus {
  outline-color: color("blue-50");
}

.is-horizontal .nav-tabs--primary .nav-tabs__link {
  border-width: 1px 0 0 1px;
}

.is-horizontal .nav-tabs--primary li:first-child .nav-tabs__link {
  border-width: 1px 0 0 0;
}

.nav-tabs--secondary {
  background: #f9f9f9;
}

.is-collapse-enabled .nav-tabs--secondary:before,
.is-horizontal .nav-tabs--secondary:before {
  border-color: color("gray-4");
}

.nav-tabs--secondary .nav-tabs__link {
  font-size: 0.923rem;
  background-color: transparent;
  color: color("blue-30");
  border-color: color("gray-4");
  border-width: 1px 0 1px 4px;
  padding: 0 1.65rem;
}

.nav-tabs--secondary .nav-tabs__link.is-active::after {
  display: none;
}

.nav-tabs--secondary .nav-tabs__link.is-active {
  border-color: color("blue-50");
  color: color("blue-30");
}

.nav-tabs--secondary .nav-tabs__link.is-active:focus {
  outline-color: color("blue-50");
}

.is-horizontal .nav-tabs--secondary .nav-tabs__link {
  border: 0;
}

.is-horizontal .nav-tabs--secondary .nav-tabs__link:after {
  display: block;
  background-color: color("blue-50");
}

svg.ext {
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem;
}

